.nav2{
    display: flex ;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.imgHeadWrapper{
    display: flex;
    align-items: center;
    border-radius: 2rem;
    padding: 0.6rem;
    background-color: #2b2b2f;
    font: bold;
    color: white;
    font-size: 1.2rem;
}

.navOption {
    font-weight: 800;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    padding: 0.75rem;
    margin: 0.5rem;
    border-radius: 9999px;
    transition: all 0.3s, color 0.3s;
    color: #ffffff;
}

.navOption:hover {
    background-color: #84cc16; /* hover:bg-lime-600 */
    color: #ffffff;
}
