.slugbanner {
  height: 20vh;
  width: 100vw;
}

.bannerOverlay {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 15%,
    rgba(0, 0, 0, 0) 130%,
    rgba(0, 0, 0, 0)
  );
  position: absolute;
  z-index: 0;
  height: 20vh;
  width: 100vw;
}

.mainContianer {
  position: relative;
  padding: 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  height: 100%;
  width: 100%;
}

.mainHead {
  font-size: xx-large;
  font-weight: 800;
}

.imageWrapper {
  width: 100vw;
  height: auto;
}

.para {
  font-display: swap;
  margin: 1rem 0;
  font-size: 1.3rem;
  white-space: normal;
  text-align: justify;
  padding: 0;
}

.toc {
  position: relative;
  top: 1rem;
  margin: 1rem;
  padding: 3rem;
  font-weight: 800;
  font-size: 2rem;
  border-radius: 0.5rem;
  text-align: left;
  background-color: #fff;
}
.toc li {
  font-size: medium;
  font-weight: 600;
  line-height: 2.5rem;
  list-style-type: decimal;
  color: rgba(65, 105, 225, 0.838);
  text-decoration: underline;
  text-underline-offset: 2px;
  cursor: pointer;
}
.toc li::marker {
  color: black;
}

.container {
  position: relative;
  top: 2rem;
  padding: 1rem 2rem;
  background-color: #fff;
}
.conHead {
  font-size: 1.5rem;
  font-weight: 800;
}

.conImgWrapper {
  width: 100vw;
  height: auto;
}

@media (min-width: 768px) {
  .imageF1para {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .conImgWrapper {
    width: 60vw;
  }

  .conImgPara {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imageWrapper {
    width: 40vw;
  }

  .imageF1para p {
    width: 40vw;
  }
}
@media (min-width: 1024px) {
  .mainContianer {
    padding: 2rem 15rem;
  }

  .imageWrapper {
    width: 45%;
  }
  .imageF1para p {
    width: 40%;
  }

  .mainHead {
    font-size: 2.5rem;
  }
  .container {
    padding: 2rem 16rem;
  }
  .container:nth-child(odd) img:nth-child(1) {
    order: 2;
  }

  .container:nth-child(even) .conImgPara .para {
    border-left: 5px solid black;
    border-radius: 2%;
  }

  .container:nth-child(odd) .conImgPara .para {
    border-right: 5px solid black;
    border-radius: 2%;
  }

  .conImgPara {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 2rem 0;
  }
  .conImgWrapper {
    width: 45%;
  }
  .conImgPara p {
    padding: 0 1rem;
    width: 50%;
  }
}
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) {
  /* Styles for iPad Pro (both portrait and landscape) */
  .mainContianer {
    padding: 2rem 8rem;
  }
  .container {
    padding: 2rem 10rem;
  }
}
