.cntHeading {
  height: 8rem;
  width: 100%;
  text-align: center;
  font-size: 3.75rem;
  background-color: #14b8a6;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  color: #ffffff;
  background-image: url("/image/WelImage.webp");
}

.StaticContainers {
  margin: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  text-align: left;
}

.StaticContainers p {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 0.5rem;
}

.linkTags {
  font-size: 1.25rem;
  font-weight: 100;
  color: #0680c6;
}

.ConHeadings {
  width: 100%;
  font-weight: 500;
  font-size: 2rem;
  background-color: #3e3e3e;
  color: #ffce45;
  padding: 1.25rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}

.FootP {
  display: flex;
  align-items: center;
}

.FormContainer {
  margin: 1.5rem;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #092b3f;
  color: #ffffff;
}

.inp {
  @apply w-full h-[3rem] rounded-xl bg-cyan-900 transition-all duration-500 
    p-3 tracking-widest my-3 outline-none focus:brightness-150
    outline-offset-4
    [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none;
}
