@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #000;
  --secondary: #ffce45;
}
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 9px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--secondary);
}

body {
  padding: 0;
  margin: 0;
}

html {
  background: url("../../public/image/body-Bg3.webp") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainContianer {
  position: relative;
  /* top: 5rem; */
}
::-moz-selection {
  color: antiquewhite;
  background: #000;
}
::selection {
  color: antiquewhite;
  background: #000;
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
