.nav {
  width: 100%;
  color: rgb(219, 187, 187);
  z-index: 1;
  transition: all 0.3s ease-in;
  position: fixed;
}

.navHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
  padding: 10px 0;
}

.iconHeadContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  position: relative;
  height: 3rem;
  width: 3rem;
  margin: 6px 6px;
}
.head {
  font-weight: 700;
  font-size: 1.25rem;
  font-family: serif;
}

.phoneOption {
  position: fixed;
  z-index: 9999;
  height: 100%;
  max-width: 90%;
  background-color: #000000d8;
  overflow-y: hidden;
  transition: all 0.5s ease-in-out;
  text-align: left;
}

.phoneOption ul li {
  color: #fff;
}

.navOption {
  font-size: 1.2rem;
  line-height: 4rem;
  font-weight: 800;
  transition: all 0.6s, color 1s;
  letter-spacing: 3px;
  padding-left: 1rem;
}

@keyframes moveAndShadow {
  0% {
    box-shadow: 0 0 5px rgb(255, 255, 255);
  }
  50% {
    box-shadow: 1px 1px 5px rgb(255, 255, 255);
  }
}

.navbtn {
  font-size: 0.875em;
  color: #fff;
  padding: 1rem 0;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.navbtn h2 {
  color: #ffce45;
  display: flex;
  font-size: 1.5em;
  gap: 5px;
}

.navbtn p {
  margin: 0rem 1rem 1rem 1.5rem;
}

.serOption:hover .dropdown {
  display: block;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.89);
  max-width: 90%;
  height: fit-content;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0%;
}

.serviceWrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem;
  /* row-gap: 0; */
}

.adsEmailConainter {
  display: none;
  cursor: pointer;
}

.adsEmail {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.89);
  min-width: 10%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.adsEmailConainter:hover .adsEmail {
  display: block;
}

.adsEmail div {
  font-size: 1rem;
  padding: 10px;
  font-weight: 700;
  color: #ffce45;
}

.adsEmail div p {
  font-size: 0.8rem;
  font-weight: 100;
  color: whitesmoke;
}

.copy {
  position: "absolute";
  background: "#333";
  color: "#fff";
  padding: "5px 10px";
  border-radius: "4px";
  top: "100%";
  left: "0";
  margin-top: "5px";
  font-size: "12px";
  z-index: 1000;
}

@media (min-width: 768px) {
  .iconContainer {
    height: 3.6rem;
    width: 3.6rem;
  }

  .navOption {
    font-size: 1rem;
    padding: 0;
  }
  .navHead {
    justify-content: space-between;
    /* background: #dcdcdb ; */
    background: transparent;
    padding: 0 1pc;
    border-bottom: 0px;
  }
  .optionCards {
    color: #fff;
    /* color: #000; */
    width: 30%;
    margin-bottom: 1.5rem;
  }

  .optionCards h4 {
    color: #ffce45;
    font-size: 1rem;
    font-weight: 700;
  }

  .optionCards li {
    font-size: 0.8rem;
    padding: 1.5px;
  }
  .adsEmailConainter {
    display: block;
  }
  .adsEmail {
    left: 70%;
  }
  .serviceWrapper {
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .navHead {
    justify-content: space-evenly;
    /* background: #000; */
    padding: 0 1pc;
  }
  .adsEmail {
    left: 75%;
  }

  .optionCards h4 {
    font-size: 1.1rem;
    font-weight: 700;
  }

  .optionCards li {
    font-size: 1rem;
    padding: 1.5px;
    /* background: #fff; */
  }

  .optionCards {
    /* font-size: 0.8rem; */
    width: 20%;
  }
  .dropdown {
    max-width: 100%;
  }
  .serviceWrapper {
    justify-content: left;
  }
}
