.cardConatiner {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2d2d2d;
    height: 10rem;
    width: 19rem ;
    color: rgb(226, 255, 34);
    
}