.footerContainer {
  position: relative;
  background-color: #000;
  top: 4rem;
  padding-bottom: 5rem;
  color: #ffffff;
}
.footTextWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footHeadings {
  color: #ffce45;
  font-size: 1.5em;
}

.elemContainer {
  /* margin: 1rem; */
  padding: 2rem;
}
.elemContainer p {
  padding: 0.5rem 0;
  font-size: 1em;
}
.elemContainer span {
  font-weight: 800;
  font-size: 1em;
}
.FootP {
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.tableRow {
  text-align: left;
}

.tableRow td {
  padding-right: 0.8rem;
}
@media (min-width: 768px) {
  .footTextWrapper {
    top: 2rem;
    margin-bottom: 4rem;
  }
}
/* Copyright Section */
.copyright {
  text-align: center;
  padding: 20px;
  border-top: 1px solid #333;
}

.copyright p {
  margin: 0;
  font-size: 0.9rem;
  color: #ccc;
}
